<% if flash[:error] %>
<div class="fadeIn">
  <div class="mt-5 flex justify-center">
    <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-600 mb-3" role="alert">
      <%= flash[:error] %>
    </div>
  </div>
</div>
<% end %>
